@model IEnumerable<Message>
@addTagHelper *, SecteEcoPlus
<div class="overflow-auto h-100" id="messagesContainer">
    @foreach (var message in Model)
    {
        <partial name="_ReviewPartial" model="message"/>
    }
</div>