@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Merci d'avoir vérifié votre adresse mail :) La secte vous en remercie.
    </p>
</div>
