@page
@model IndexModel
@{
    ViewBag.Title = "La secte éco+";
    ViewBag.UseJqueryAjax = true;
}
<div>
    <h1>Bienvenue dans la secte éco+</h1>
    <p>La secte vénère les produits éco+ et surtout, les produits Leclerc.</p>
    <p>Nous suivons les recettes sacrées d'El Pueblo, et nous achetons que des produits éco+.</p>
    <p>Rejoins-nous, achète des produits éco+, et sois un véritable leclerien.</p>
    <div class="container mt-3 px-0">
        <div class="row">
            <div class="col-md-auto">
                <cache enabled="true" vary-by-user="true" expires-after="@TimeSpan.FromMinutes(5)">
                    <partial name="_WebsiteReviewFormPartial" model="@(new MessageRequestViewModel())" /> @* Send ideas here *@
                </cache>
            </div>
            <div class="col-md reviews">
                @await Component.InvokeAsync("WebsiteReviews")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ReviewScriptsPartial" />
}
