@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-auto">
            <header class="text-center">
                <span class="h3">Profil de :</span>
                <span class="text-center h1 d-md-block">@ViewBag.DisplayName</span>
            </header>
        </div>
        <div class="col">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", false)
}