@page
@model PersonalDataModel
@{
    ViewBag.Title = "Données personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Votre compte contient des données que vous nous avez données, vous pouvez les obtenir ici.</p>
        <p>
            <strong>Supprimer les données supprime également votre compte, cette procédure est irréversible.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Télécharger</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Supprimer</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}